h1{
    text-align: center;
    color: Skyblue;
    background-color:white;
}

#divlist, #divtable{
width:48%;
}

#divlist{
position:relative;
float:left;
padding-left:10px;
padding-right:10px;
}

#divtable{
position:relative;
float:right;
padding-left:10px;
padding-right:10px;
}

#divlist form{
padding-top:2px;
}
p{
    font-style:italic;
}
